<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>806867048106-ji6kumof8vgmif4tde6op62lgllaoong.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.806867048106-ji6kumof8vgmif4tde6op62lgllaoong</string>
	<key>API_KEY</key>
	<string>AIzaSyB179lKRo8y4GtvruFIb3B82KTV72yv1N8</string>
	<key>GCM_SENDER_ID</key>
	<string>806867048106</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.donisaputra.airplane</string>
	<key>PROJECT_ID</key>
	<string>airplanedemo-157e8</string>
	<key>STORAGE_BUCKET</key>
	<string>airplanedemo-157e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:806867048106:ios:810b6b3c3059911928a2d3</string>
</dict>
</plist>